.tamagotchi {
  background-color: indigo;
  color: ghostwhite;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 30rem;
  min-width: 18rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 45% 45%;
}

li {
  list-style-type: none;
  display: inline;
}

.screen {
  text-align: center;
  background-color: hsla(0, 0%, 50%, 1);
  color: hsl(0, 0%, 20%);
  font-weight: bold;
  margin: 7rem auto;
  margin-bottom: 2rem;
  padding: 1rem;
  min-height: 14rem;
  width: 15rem;
  border-radius: 5px;
  border-right: 3px solid hsla(0, 0%, 60%, 1);
  border-bottom: 3px solid hsla(0, 0%, 60%, 1);
  border-left: 4px solid hsla(0, 0%, 20%, 1);
  border-top: 4px solid hsla(0, 0%, 20%, 1);
}
