body {
  background: gold;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
