.game__username {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  margin: 0.4rem;
}

.game__avatar {
  height: 12vh;
  margin-top: 0.3rem;
  margin-bottom: 1.1rem;

  filter: grayscale(1) opacity(60%) contrast(100%) brightness(60%);
  -webkit-filter: grayscale(1) opacity(60%) contrast(100%) brightness(60%);
}

.game__motivation {
  width: 100%;
}

/* removes bullets from motivation meter list */
li {
  list-style-type: none;
  display: inline;
}

.motivation__key {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.motivation__level {
  font-size: 1.5rem;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.motivation {
  color: transparent;
  text-shadow: 0 0 0 hsla(0, 0%, 20%, 1);
  margin-top: 0.3rem;
}

.motivation:last-child {
  color: transparent;
  text-shadow: 0 0 0 hsla(0, 0%, 20%, 1);
  animation: blinker 500ms ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
