.tamagotchi {
  background-color: indigo;
  color: ghostwhite;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 30rem;
  min-width: 18rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 45% 45%;
}

li {
  list-style-type: none;
  display: inline;
}

.screen {
  text-align: center;
  background-color: hsla(0, 0%, 50%, 1);
  color: hsl(0, 0%, 20%);
  font-weight: bold;
  margin: 7rem auto;
  margin-bottom: 2rem;
  padding: 1rem;
  min-height: 14rem;
  width: 15rem;
  border-radius: 5px;
  border-right: 3px solid hsla(0, 0%, 60%, 1);
  border-bottom: 3px solid hsla(0, 0%, 60%, 1);
  border-left: 4px solid hsla(0, 0%, 20%, 1);
  border-top: 4px solid hsla(0, 0%, 20%, 1);
}

/* FORM */
label {
  width: 80%;
}

input {
  width: 80%;
  margin-top: 1rem;
  background-color: hsla(0, 0%, 50%, 1);
  color: hsla(0, 0%, 50%, 1);
  border: solid 4px hsla(0, 0%, 35%, 1);
  height: 2rem;
  padding: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

input:hover {
  outline: none;
  border: solid 4px hsla(0, 0%, 30%, 1);
}

input:focus,
input:active {
  outline: none;
  background-color: hsla(0, 0%, 30%, 1);
  color: hsla(0, 0%, 50%, 1);
  border: solid 4px hsla(0, 0%, 30%, 1);
}

/* GAME  */

.game__username {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  margin: 0.4rem;
}

.game__avatar {
  height: 12vh;
  margin-top: 0.3rem;
  margin-bottom: 1.1rem;

  filter: grayscale(1) opacity(60%) contrast(100%) brightness(60%);
  -webkit-filter: grayscale(1) opacity(60%) contrast(100%) brightness(60%);
}

.game__motivation {
  width: 100%;
}

.motivation__key {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.motivation__level {
  font-size: 1.5rem;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.motivation {
  color: transparent;
  text-shadow: 0 0 0 hsla(0, 0%, 20%, 1);
  margin-top: 0.3rem;
}

.motivation:last-child {
  color: transparent;
  text-shadow: 0 0 0 hsla(0, 0%, 20%, 1);
  animation: blinker 500ms ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
