.buttonList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0.5rem auto 4rem auto;
  max-width: 15rem;
}

@media (max-width: 599px) {
  .buttonList {
    max-width: 50vw;
  }
}

button {
  font-size: 2rem;
  background-color: hsla(279, 50%, 90%, 1);
  cursor: pointer;
  border-left: 2px solid hsla(279, 50%, 100%, 1);
  border-top: 2px solid hsla(279, 50%, 100%, 1);
  border-right: 2px solid hsla(279, 50%, 50%, 1);
  border-bottom: 2px solid hsla(279, 50%, 50%, 1);
  margin: 0;
  font-size: 2rem;
}

button:focus {
  outline-color: gold;
}

button:hover {
  outline: none;
}

button:active {
  cursor: pointer;
  /* To delete transform: on bug fix */
  transform: translate(2px, 2px);
  border-left: 2px solid hsla(279, 50%, 50%, 1);
  border-top: 2px solid hsla(279, 50%, 50%, 1);
  border-right: 2px solid hsla(279, 50%, 100%, 1);
  border-bottom: 2px solid hsla(279, 50%, 100%, 1);
}

/* Adding a span to the button throws an array.length error to the onClick handler function, due to the span becoming the target of the onClick Event, not the button itself */
/* button:active > span {
  display: inline-block;
  transform: translate(2px, 2px);
} */
